* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    font-size: 62.5%;
    --bg-color: #191629;
    --bold: #7b6c89;
    --light-color: #fff;
    --dark-color: #8f1ef2;
    --medium-color: #e100e6;
    --image-size: 200px;
    --tec-card-size: 150px;
    --proj-card-size: 400px;
    --footer-image-size: 50px;
    overflow-x: hidden;

    a {
        text-decoration: none;
        color: #fff;
    }
}

body {
    min-height: 100vh;
    width: 100vw;
    background-color: var(--bg-color);
    padding: 24px;
    color: var(--light-color);
}

header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 400px;
    margin: 0 auto;
    .profile {
        text-align: center;
        img {
            width: var(--image-size);
            height: var(--image-size);
            border-radius: 100%;
        }

        .text {
            display: flex;
            flex-direction: column;
            gap: 4px;
            h1 {
                font-size: 32px;
                font-weight: 700;
            }
            h2 {
                font-size: 20px;
                color: var(--medium-color);
                font-weight: 600;
            }
            p {
                font-size: 12px;
                font-weight: 400;
            }
        }
    }
    .buttons {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .top {
            display: flex;
            gap: 8px;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                padding: 10px 24px;
                flex: 1;
                border: 1px solid var(--light-color);
                border-radius: 10px;
                span {
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
        .bottom {
            background-color: var(--dark-color);
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;
            padding: 10px 24px;
            flex: 1;
            border: 1px solid var(--light-color);
            border-radius: 10px;
            font-size: 14px;
            font-weight: 600;
        }
    }
    .utils {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left {
                display: flex;
                align-items: center;
                gap: 4px;
                span {
                    color: var(--bold);
                    font-size: 12px;
                    font-weight: 400;
                }
            }
            h3 {
                font-size: 12px;
                font-weight: 400;
            }
        }
    }
}

main {
    background-color: #7b6c89;
    flex: 1;
}

@media (min-width: 768px) {
    header {
        gap: 20px;
        .profile {
            .text {
                h1 {
                    margin-top: 10px;
                }
                p {
                    margin-top: 10px;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    body {
        display: flex;
        gap: 28px;
        padding: 64px 124px;
    }
    header {
        margin: 0;
    }
}
