* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    font-size: 62.5%;
    --bg-color: #191629;
    --bold: #7b6c89;
    --light-color: #fff;
    --dark-color: #8f1ef2;
    --medium-color: #e100e6;
    --image-size: 520px;
    --tech-image-size: 200px;
    --proj-card-size: 400px;
    --footer-image-size: 40px;
    overflow-x: hidden;
    scroll-behavior: smooth;

    a {
        text-decoration: none;
        color: #fff;
    }
}

body {
    display: flex;
    gap: 64px;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    background-color: var(--bg-color);
    padding: 40px;
    color: var(--light-color);
}

header {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0 auto;
    .profile {
        text-align: center;
        img {
            width: var(--image-size);
            height: var(--image-size);
            border-radius: 100%;
            margin: 12px 0;
        }

        .text {
            display: flex;
            flex-direction: column;
            gap: 32px;
            h1 {
                font-size: 80px;
                font-weight: 700;
            }
            h2 {
                font-size: 48px;
                color: var(--medium-color);
                font-weight: 600;
            }
            p {
                font-size: 32px;
                font-weight: 400;
            }
        }
    }
    .buttons {
        display: flex;
        flex-direction: column;
        gap: 24px;
        .top {
            display: flex;
            gap: 24px;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 12px;
                padding: 32px;
                flex: 1;
                border: 2px solid var(--light-color);
                border-radius: 32px;

                img {
                    width: 48px;
                }

                span {
                    font-size: 40px;
                    font-weight: 600;
                }
            }
        }
        .bottom {
            background-color: var(--dark-color);
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;
            padding: 32px;
            flex: 1;
            border: 2px solid var(--light-color);
            border-radius: 32px;
            font-size: 40px;
            font-weight: 600;
        }
    }
    .utils {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 0 20px;
        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left {
                display: flex;
                align-items: center;
                gap: 8px;
                img {
                    width: 32px;
                }
                span {
                    color: var(--bold);
                    font-size: 32px;
                    font-weight: 400;
                }
            }
            h3 {
                text-align: right;
                font-size: 32px;
                font-weight: 400;
            }
        }
    }
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 64px;
    section {
        display: flex;
        flex-direction: column;
        gap: 32px;
        h1 {
            color: var(--dark-color);
            font-size: 40px;
            font-weight: 900;
        }
    }
    .tech .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        gap: 32px;
        .card {
            display: flex;
            flex-direction: column;
            background-color: var(--light-color);
            width: fit-content;
            padding: 32px;
            border-radius: 12px;
            gap: 12px;
            aspect-ratio: 1/1;
            width: 100%;
            img {
                height: var(--tech-image-size);
            }
            span {
                color: #191629;
                font-size: 24px;
                font-weight: 600;
                text-align: center;
            }
        }
    }
    .projetos .content {
        display: flex;
        flex-direction: column;
        gap: 32px;
        .proj {
            h3 {
                color: var(--bold);
                display: flex;
                align-items: center;
                font-size: 48px;
                font-weight: 400;
                margin-bottom: 4px;
                img {
                    width: 48px;
                }
            }
            .proj-img {
                width: 100%;
                border-radius: 10px;
            }

            p {
                margin: 18px 0;
                font-size: 42px;
                font-weight: 400;
            }
        }

        .proj:nth-child(1) {
            p {
                font-size: 16px;
            }
        }
    }
    .social .content {
        display: flex;
        align-items: center;
        gap: 24px;

        a img {
            width: 120px;
        }
    }
}

@media (min-width: 1024px) {
    :root {
        --image-size: 240px;
        --tech-image-size: 60px;
    }

    body {
        padding: 48px;
    }

    header {
        max-width: 600px;
        .profile .text {
            gap: 16px;
            h1 {
                font-size: 60px;
            }
            h2 {
                font-size: 24px;
            }
            p {
                font-size: 16px;
            }
        }

        .buttons {
            gap: 12px;
            .top {
                gap: 12px;
                a {
                    gap: 6px;
                    padding: 16px;
                    border-radius: 16px;

                    img {
                        width: 24px;
                    }

                    span {
                        font-size: 20px;
                    }
                }
            }
            .bottom {
                padding: 16px;
                border-radius: 16px;
                font-size: 20px;
            }
        }
        .utils {
            gap: 12px;
            padding: 0;
            .row {
                .left {
                    img {
                        width: 24px;
                    }
                    span {
                        color: var(--bold);
                        font-size: 24px;
                        font-weight: 400;
                    }
                }
                h3 {
                    text-align: right;
                    font-size: 24px;
                    font-weight: 400;
                }
            }
        }
    }

    main {
        .tech .content {
            display: flex;
            justify-content: space-between;
            span {
                display: none;
            }
        }

        .tech .card {
            justify-content: center;
            align-items: center;
        }

        .projetos .content {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .projetos .content .proj h3 {
            font-size: 24px;
            img {
                width: 24px;
            }
        }

        .projetos .content .proj a {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .projetos .content .proj p {
            font-size: 18px;
        }

        .social .content a img {
            width: 60px;
        }
    }
}

@media (min-width: 1440px) {
    body {
        flex-direction: row;
        gap: 28px;
        padding: 64px;
    }
    header {
        position: fixed;
        margin: 0;
        max-width: 400px;

        .profile .text {
            gap: 12px;
            h1 {
                font-size: 40px;
            }
            h2 {
                font-size: 24px;
            }
            p {
                font-size: 16px;
            }
        }

        .buttons {
            gap: 12px;
            .top {
                gap: 12px;
                a {
                    gap: 6px;
                    padding: 12px;
                    border-radius: 16px;

                    img {
                        width: 20px;
                    }

                    span {
                        font-size: 16px;
                    }
                }
            }
            .bottom {
                padding: 12px;
                border-radius: 16px;
                font-size: 16px;
            }
        }

        .utils {
            .row {
                .left {
                    img {
                        width: 16px;
                    }
                    span {
                        font-size: 16px;
                    }
                }
                h3 {
                    font-size: 16px;
                }
            }
        }
    }

    main {
        margin-left: 448px;

        section {
            gap: 8px;
        }

        section h1 {
            font-size: 18px;
        }

        .projetos .content {
            grid-template-columns: 1fr 1fr 1fr;

            .proj {
                position: relative;
            }

            .proj h3 {
                font-size: 16px;
            }

            .proj a {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .proj p {
                display: none;
                font-size: 16px;
            }

            .proj:hover {
                p {
                    display: inline;
                    animation: fade 500ms;
                    max-width: 200px;
                }
                div {
                    position: absolute;
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    background-color: #8f1ef2;
                    left: 0;
                    top: 28px;
                    right: 0;
                    bottom: 0;
                    border-radius: 10px;
                    transition: all ease-in-out 200ms;
                }
            }
        }
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
